VITE_API_URL=https://your-auth-service.com/api/v1/auth
VITE_SERVICE_CATALOG_URL=https://your-catalog-service.com/api/v1
VITE_PAYMENT_SERVICE_URL=https://your-payment-service.com/api/v1/payments
VITE_CONTACT_SERVICE_URL=https://your-contact-service.com/api/v1
VITE_BOOKING_SERVICE_URL=https://your-booking-service.com
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_your_key


VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=
