# Server Configuration
PORT=8081
NODE_ENV=development

# Database
MONGO_URI=YOUR_MONGO_URI

# Security
JWT_SECRET=JWT_SECRET
ALLOWED_ORIGINS=your_allowed_domains


FIREBASE_SERVICE_ACCOUNT_BASE64=your_firebase_service_account_base64
ADMIN_EMAILS=admin_emails_comma_seperated